<div class="container">
    <button mat-fab style="width:7%; height: 80px;" (click)="addMedico()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg></button>
    <button mat-fab style="width:7%; height: 80px;" type="button" data-toggle="modal" data-target="#modal1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
    </svg></button>
    <button mat-fab style="width:7%; height: 80px;" type="button" data-toggle="modal" data-target="#modal2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
    </svg></button>
    
    <!-- Modal Elimnar medico -->
    <div class="modal fade" id="modal1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-tittle">Eliminar Médico</h5>
          </div>

          <div class="modal-loby">
            <label >Ingrese rut sin punto ni guion</label>
            <form [formGroup]="form">
              Rut: <input required type="text" placeholder="192085306" formControlName="rut">     
            </form>
            <div *ngIf="error==1">
              *Debe ingresar un rut
            </div>
          </div>
          <p>Al eliminar un medico del sistema, se eliminarán las sesiones adjuntas al rut correspondiente</p>
          <div class="modal-footer">
            <p>Desea continuar?</p>
            <button type="button" class="btn btn-secundaty" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-primary" (click)="delete()">SI</button>
          </div>

        </div>
      </div>
    </div>
</div>

<div class="container" style="width:25%; height: 20px; background-color: #ffffff00;"></div>
<div class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Rut</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Correo</th>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of medicos ; let i =index ">
            <td *ngFor = "let column of headers">

              <div *ngIf="column=='rut'">
                {{m[column]}}
              </div>
              <div *ngIf="column!='rut'">
                {{m[column]}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Modal editar medico -->

<div class="modal fade" id="modal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-tittle">Editar Médico</h5>
      </div>

      <div class="modal-loby">
        <label >Ingrese rut sin punto ni guion</label>
        <form [formGroup]="form">
          Rut: <input required type="text" placeholder="192085306" formControlName="rut">     
        </form>
        <div *ngIf="error2==1">
          *Debe ingresar un rut
        </div>
        <div *ngIf="error3==1">
          *Rut ingresado no es valido
        </div>

        <div *ngIf="busqueda==1">

          <ul class="list-group">
              <li>Nombre: <input [(ngModel)]="medico[0].nombre"></li>
              <li>Apellido: <input [(ngModel)]="medico[0].apellido"></li>
              <li>Especialidad: <input [(ngModel)]="medico[0].especialidad"></li>
              <li>Correo: <input [(ngModel)]="medico[0].correo"></li>
              <li>Telefono: <input [(ngModel)]="medico[0].telefono"></li>
          </ul>

          <div class="modal-footer">
            <button type="button" class="btn btn-secundaty" (click)="reload()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="guardar()">Confirmar</button>
          </div> 
                      
        </div>
      </div>

      <div *ngIf="footer==1" class="modal-footer">
        <button type="button" class="btn btn-secundaty" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="edit()">Buscar</button>
      </div>

    </div>
  </div>
</div>

