<div class="container">
    <h2>Menú</h2>
    <button onclick="location.href='cli-lista'" type="button">Clientes</button>
    <button onclick="location.href='pas-buscados'" type="button">Pacientes</button>
    <button onclick="location.href='ses-lista'" type="button">Sesiones</button>
    <button onclick="location.href='medicos'" type="button">Medicos</button>
    <button onclick="location.href='examenes'" type="button">Examenes</button>
    <button onclick="location.href='con-lista'" type="button">Consultas</button>
</div>