<div class="jumbotron container ">
    <h2 class="display-5">Contactanos!</h2>
    <p class="lead">Informate sobre nuestros horarios de atención, ubicación y nuestros medios de contacto.</p>
</div>


<div class="padre">
    <div class="hijo">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Contacto!</li>
            </ol>
          </nav>

        <table class="table table-hover">
            <TR><TH>Telefono</TH>
                <TD>32-3121725</TD></TR>
            <TR><TH>Whatsapp</TH>
                <TD>+569 64019956</TD></TR>
            <TR><TH>Correo</TH>
                <TD>consultaveterinariasausalito@gmail.com</TD></TR>
            <TR><TH>Veterinario</TH>
                <TD>Dr. Felipe Chacón</TD></TR> 
        </table>
    </div>
    <div class="hijo">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Horarios de atención!</li>
            </ol>
        </nav>
        <table class="table table-hover">
            <TR><TH>Lunes a Viernes</TH>
                <TD>11:30 hrs a 19:30 hrs</TD></TR>
            <TR><TH>Sabado:</TH>
                <TD>11:00 hrs a 18:30 hrs</TD></TR>
            <TR><TH>Domingo</TH>
                <TD>Cerrado</TD></TR>
            <TR>
                <TH colspan="2"> Nos Vemos!! </TH> </TR> 
        </table>
    </div>
    
    <div class="container hijo">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Ubicacion

              </li>
            </ol>
        </nav>
        <div class="hijo3">
            <h5>Dirección</h5>
            <h6>18 Norte #1627 (con calle 6), Santa Ines, Viña del Mar</h6>
        </div>

        <div class="hijo2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.2917157346014!2d-71.53966637855805!3d-33.00711017778647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689ddc43a416487%3A0x7202bf792e4f4df!2s18%20Nte.%201627%2C%20Vi%C3%B1a%20del%20Mar%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1606484864584!5m2!1ses-419!2scl" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>

