<div class="container">
    <h2>
        {{paciente[0].nombre}}
    </h2>
    <ul>
        <li>Especie: {{paciente[0].especie}}</li>
        <li>Raza: {{paciente[0].raza}}</li>
        <li>Edad {{paciente[0].edad}}</li>
        <li>Sexo: {{paciente[0].Sexo}}</li>
        <li>Peso: {{paciente[0].peso}} Kg</li>
        <li>Enfermedades: {{paciente[0].enfermedades}}</li>
        <li>Tratamientos: {{paciente[0].tratamientos}}</li>
    </ul>

    <button type="button" data-toggle="modal" data-target="#editar">Editar perfil  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
    </svg></button>
</div>


<h3 class="container">----------------------------------------------------------</h3>

<div class="container">
    <h3>Sesiones registradas</h3>
</div>

<div *ngIf="si==0" class="container">
    <label>*El Paciente no registra sesiones pasadas!!</label>
</div>
<div *ngIf="si==1" class="container">
    <div class="container" style="width:25%; height: 20px; background-color: #ffffff00;"></div>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Detalle</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of sesiones; let i =index">
                <td *ngFor = "let column of headers">
                    <div *ngIf="(column=='titulo')">
                        {{s[column]}}
                    </div>
                    <div *ngIf="(column=='fecha')">
                        {{s[column].substr(0,10)}}
                    </div>                    
                </td>
                <td><button (click)="sesion(i)">Ir</button></td>
            </tr> 
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <button (click)="crearSesion()">Crear nueva sesion</button>
</div>


<h3>----------------------------------------------------------</h3>

<div *ngIf="sesiones.length==0" class="container">
    <button type="button" data-toggle="modal" data-target="#modal2">Eliminar este paciente  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
    </svg></button>
</div>
<div *ngIf="sesiones.length!=0" class="container">
    <button type="button" data-toggle="modal" data-target="#modal1">Eliminar este paciente  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
    </svg></button>
</div>

  <div class="modal fade" id="modal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-tittle">Eliminar Paciente</h2>
        </div>

        <div class="modal-loby">
            <p>Esta a punto de eliminar este perfil, al aceptar se borrar del sistema junto a las sesiones adjuntas al paciente</p>
        </div>

        <div class="modal-footer">
            <p>¿Desea Continuar?</p>
          <button type="button" class="btn btn-secundaty" data-dismiss="modal">NO</button>
          <button type="button" class="btn btn-primary" (click)="eliminarSin()" data-dismiss="modal">SI</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="modal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-tittle">Eliminar Paciente</h2>
        </div>

        <div class="modal-loby">
            <p>Esta a punto de eliminar este perfil, al aceptar se borrar del sistema junto a las sesiones adjuntas al paciente</p>
        </div>

        <div class="modal-footer">
            <p>¿Desea Continuar?</p>
          <button type="button" class="btn btn-secundaty" data-dismiss="modal">NO</button>
          <button type="button" class="btn btn-primary" (click)="eliminar()" data-dismiss="modal">SI</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="editar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-tittle">Editar Paciente</h2>
        </div>

        <div class="modal-loby">
           <ul>
               <li>Nombre: <input [(ngModel)]="edit[0].nombre"></li>
               <li>Especie: <input [(ngModel)]="edit[0].especie"></li>
               <li>Raza: <input [(ngModel)]="edit[0].raza"></li>
               <li>Edad: <input [(ngModel)]="edit[0].edad"></li>
               <li>Sexo: <input size="32" [(ngModel)]="edit[0].Sexo"></li>
               <li>Peso: <input [(ngModel)]="edit[0].peso">Kgs</li>
               <li>Enfermedades: <input [(ngModel)]="edit[0].enfermedades"></li>
               <li>Tratamientos: <input [(ngModel)]="edit[0].tratamientos"></li>
           </ul>

           <p>Al aceptar, los datos del paciente cambiarán por los que acaba de reemplazar</p>
        </div>

        <div class="modal-footer">
            <p>¿Desea Continuar?</p>
          <button type="button" class="btn btn-secundaty" data-dismiss="modal">NO</button>
          <button type="button" class="btn btn-primary" (click)="editar()" data-dismiss="modal">SI</button>
        </div>

      </div>
    </div>
  </div>
