<div class="jumbotron container ">
    <h2 class="display-5">Servicios!</h2>
    <p class="lead">Esto es una parte de lo que hacemos por nuestros pacientes.</p>
    <hr class="my-4">
    
    <div class="hijo"></div>


    <div class="row">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <img src="assets/iconos/consulta2.svg" width="150px" height="150px" >
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Consulta veterinaria</h3>
              <!--  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
            </div>
          </div>
        </div>

        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <img src="assets/iconos/hospi.png" width="150px" height="150px" >
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Hospitalización</h3>
              <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
            </div>
          </div>
        </div>

        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <img src="assets/iconos/cirugia.svg" width="150px" height="150px" >
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Cirugías</h3>
              <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
            </div>
          </div>
        </div>

        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <img src="assets/iconos/petshop.svg" width="150px" height="150px" >
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Petshop</h3>
              <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
            </div>
          </div>
        </div>

        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <img src="assets/iconos/peluqueria.svg" width="150px" height="150px" >
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Peluquería canina</h3>
              <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
            </div>
          </div>
        </div>
        
        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                <img src="assets/iconos/farmacia.png" width="150px" height="150px" >
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Farmacia Veterinaria</h3>
              <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
            </div>
          </div>
          
        </div>

        <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
                  <img src="assets/iconos/vacuna.svg" width="150px" height="150px" >
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Vacunatorio</h3>
                <!-- <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p> -->
              </div>
            </div>
            
          </div>

        

</div>