<div class="container">
    <h1>Clientes</h1>
</div>
<div class="container">
    <div class="container">
        <button onclick="location.href='cli-crear'" type="button">Crear Cliente</button>
    </div>
    <div class="container">
        <form [formGroup]="profileForm">
    
            <label >
            Rut:
            <input required type="text" placeholder="157795472" formControlName="rut">
            </label>

        </form>
        <p>*Ingrese rut sin puntos ni guion</p>
        <button (click)="buscar()">Buscar</button>
    </div>
</div>

<div class="container">
        <div class="container" style="width:25%; height: 20px; background-color: #ffffff00;"></div>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Perfil</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of clientes; let i=index">
                <td *ngFor = "let column of headers">
                    <div *ngIf="column!='telefono'">
                        {{c[column]}}
                    </div>
                    <div *ngIf="column=='telefono'">
                        +569-{{c[column]}}
                    </div>
                </td>
                <button (click)="buscar2(i)">Ir</button>
            </tr> 
            </tbody>
        </table>
    </div>
</div>