<nav class="navbar navbar-dark bg-dark">
        <button mat-flat-button  style=" background-color: #ffffff00;" (click)="home()" >
            <img src="assets/img/hori.png" alt="" width="280px" height="90px" >
        </button>
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="servicios">Servicios</a>
        <a class="nav-link" href="contacto">Contacto</a>
        <a class="nav-link" href="realizar-consulta">Consulta</a>
        <a class="nav-link" href="consulta-cliente">Mi Perfil</a>
        <a class="nav-link" href="login" tabindex="-1" aria-disabled="true">Ingreso Personal</a>
    </nav>
<div style="width:25%; height: 20px; background-color: #ffffff00;"></div>